.add-user-button {
  position: absolute;
  bottom: 56px;
  right: 56px;
  border-radius: 100%;
}

.user-table {
  background-color: white;
  border-radius: 8px;
  padding: 8px;

   th {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    text-align: start;
  }

  td {
    color: rgba(0, 0, 0, 1);
  }
}